{% extends "pages/base.jinja" %}

{% block title %}
    500 - Server Error
{% endblock %}

{% block content %}
    <h1>500</h1>
    <h2>Server Error</h2>
    <p>Something went wrong. Please try again.</p>
    <a href="/" role="button">← Home</a>
{% endblock %}