{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <article class="note {{ 'pinned' if note.pinned }}">

        <header>
            <h3>{{ note.title }}</h3>
            {{ "📌" if note.pinned }}
        </header>

        <p>{{ note.body | paragraphs }}</p>

        <footer>
            <span>Created on {{ note.created | local | format }}</span>
            <span><a href="/note/{{ note.id }}/delete">❌ Delete</a></span>
        </footer>

    </article>

{% endblock %}

