{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <article class="note">

        <form method="post" action="/note">

            <h3>New Note</h3>

            <fieldset>

                <label>
                    Title
                    <input name="title" type="text" required>
                </label>

                <label>
                    Body
                    <textarea name="body" required></textarea>
                </label>

                <label>
                    <input name="pinned" type="checkbox">
                    📌 Pin it?
                </label>

            </fieldset>

            <input type="submit" value="Add Note">

        </form>

    </article>

{% endblock %}

