{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <section class="notes">

        {% for note in notes %}

            <article class="note {{ 'pinned' if note.pinned }}">

                <header>
                    <h3>{{ note.title }}</h3>
                    {{ "📌" if note.pinned }}
                </header>

                <p><a href="/note/{{ note.id }}">Read note...</a></p>

            </article>

        {% else %}

            <p>No Notes!</p>

        {% endfor %}

    </section>

{% endblock %}

