body>footer, body>header, body>main {
    max-width: 950px;
}

body>header hgroup {
    margin-bottom: 0;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav ul {
    flex-wrap: wrap;
}

:where(table) {
    width: auto;
}

h2 {
    color: var(--pico-secondary);
}

