/* COLOURS ------------------------------- */

body {
    --pico-h2-color: var(--pico-primary);
    --pico-h3-color: var(--pico-secondary);

    --sidebar-border-color: var(--pico-form-element-border-color);
    --sidebar-background-color: var(--pico-card-sectioning-background-color);
}


/* LAYOUT -------------------------------- */

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "main";
}

body > header { grid-area: header; }
body > aside  { grid-area: sidebar; }
body > main   { grid-area: main; }
body > footer { grid-area: footer; }

body > main {
    padding-top: 0;
}

body > aside {
    display: none;
}

@media screen and (min-width: 1440px) {
    body {
        max-width: 1360px;
        margin-inline: auto;
        gap: 0 3rem;
        grid-template-columns: 14rem 1fr;
        grid-template-areas:
            "header header"
            "sidebar main";
    }

    body > footer,
    body > header,
    body > main {
        max-width: unset;
    }

    body > aside {
        display: block;
    }
}


/* HEADER & NAV --------------------------- */

body > header hgroup {
    margin-bottom: 0;
}

body > header h1 {
    --pico-font-size: 1.5rem;
}

body > header > nav {
    flex-wrap: wrap;
    gap: 0 2rem;
}

body > header > nav ul {
    flex-wrap: wrap;
}


/* BUTTONS -------------------------------- */

nav a[role="button"] {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

nav a[role="button"] svg,
nav a[role="button"] img {
  height: 1.2em;
  width: auto;
}


/* SIDEBAR -------------------------------- */

body > aside {
    position: sticky;
    top: 1rem;
    align-self: start;
    padding: 0.75rem;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
    font-size: 0.9rem;
    line-height: 1.1;
    background-color: var(--sidebar-background-color);
    border: 1px solid var(--sidebar-border-color);
    border-radius: var(--pico-border-radius);
}

body > aside ul {
    padding-left: 1.2rem;
}

body > aside li {
    padding: 0;
    display: list-item;
}

body > aside li::marker {
    color: var(--pico-muted-color);
}

body > aside h3 {
    margin-bottom:0.5rem;
    font-size: 1.1rem;
}

body > aside h3:not(:first-child) {
    margin-top: 1.4rem;
    padding-top: 0.5rem;
    border-top: 1px solid var(--sidebar-border-color);
}

body > aside h4 {
    margin: 0.5rem 0 0.4rem 0.2rem;
    font-size: 1rem;
    font-weight: normal;
    color: var(--pico-muted-color);
}

body > aside :last-child {
    margin-bottom: 0.5rem;
}


/* HEADINGS ------------------------------- */

main > h1:not(:first-of-type) {
    margin-top: 4rem;
    border-top: 3px solid var(--pico-secondary-border);
    padding-top: 0.75rem;
}

main > h2 {
    margin-top: 2.5rem;
    border-bottom: 2px solid var(--pico-primary-border);
    padding-bottom: 0.5rem;
}


/* MENU LISTS ----------------------------- */

main > h1:first-child + ul {
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

main > h1:first-child + ul li {
    list-style: none;
    width: 8rem;
    aspect-ratio: 3/4;
    border: 2px solid var(--pico-border);
    padding: 0.5rem;
    text-align: center;
    box-shadow: var(--pico-shadow);
}


/* MEDIA ---------------------------------- */

main > p > img {
    display: block;
    max-width: 100%;
    margin: 1.5rem auto;
}

main > iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin: 1.5rem auto;
}


/* TABLES --------------------------------- */

:where(table) {
    width: auto;
}

td, th {
    padding-block: calc(var(--pico-spacing)/ 4);
}


/* CODE ---------------------------------- */

pre code.hljs.language-plaintext {
    line-height: 1.2;
}

pre code.hljs {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
}


/* DEV MODE ------------------------------ */

body.dev-mode::after {
    content: "DEV";
    display: block;
    position: fixed;
    left: -3.5rem;
    top: 0.5rem;
    transform: rotate(-40deg);
    padding: 0.2rem 04rem;
    background-color: var(--pico-color-orange-500);
    box-shadow: 0 0.1rem 0.5rem #0002;
    color: white;
    font-weight: bold;
}

body.dev-mode .guides {
    --pico-primary-background:       var(--pico-color-orange-500);
    --pico-primary-border:           var(--pico-color-orange-500);
    --pico-primary-hover-background: var(--pico-color-orange-400);
    --pico-primary-hover-border:     var(--pico-color-orange-400);

    border-color: var(--pico-primary-border);
}
