/* COLOURS ------------------------------- */

body {
    --pico-h2-color: var(--pico-primary);
    --pico-h3-color: var(--pico-primary-hover);
}


/* LAYOUT -------------------------------- */

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body > footer,
body > header,
body > main {
    max-width: 1024px;
}


/* HEADER & NAV --------------------------- */

body > header hgroup {
    margin-bottom: 0;
}

body > header h1 {
    --pico-font-size: 1.5rem;
}

body > header > nav {
    flex-wrap: wrap;
    gap: 0 2rem;
}

body > header > nav ul {
    flex-wrap: wrap;
}


/* FOOTER --------------------------------- */

body > footer {
    text-align: center;
}


/* TABLES --------------------------------- */

:where(table) {
    width: auto;
}

td, th {
    padding-block: calc(var(--pico-spacing)/ 4);
}

/* CODE ---------------------------------- */

code.lang-plaintext {
    line-height: 1.2;
}